
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Nufus</th>
        <th>Ülke</th>
        <th>Bayrak</th>
    </tr>
    <tr>
        <td>@ViewBag.e1</td>
        <td>@ViewBag.e2</td>
        <td>@ViewBag.e3</td>
        <td>@ViewBag.e4</td>
        <td>@ViewBag.d1 @ViewBag.d2 @ViewBag.d3 </td>
    </tr>
    
</table>
<a href="/Default/urunler" class="btn btn-info">Ürünlere git</a>


