
@{
    Layout = null;
}


    <h1>OOP DERS 1 </h1>
<center><h3><u>Ürünler Sayfası</u></h3></center>
<a href="/Default/numara">Anasayfa</a>
    <h2>@ViewBag.m1</h2>
    <h2>@ViewBag.m2</h2>

    <h4>Toplam : @ViewBag.t</h4>
    <h4>Faktoriyeli : @ViewBag.f</h4>
<center><h3><u>@ViewBag.re</u></h3></center>

